#page-403-h1 {
    font-size: 50px;
    color: #d9534f;
}

#page-403-p {
    font-size: 20px;
    color: #666;
}

#page-403-a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

#page-403-a :hover {
    text-decoration: underline;
}
