<!-- templates/registration/password_reset_complete.html -->
{% extends 'core/base.html' %}

{% block content %}
    <div class="reset-password-page">
        <div class="reset-password-card">
            <h2>Password Reset Successful</h2>
            <p>Your password has been reset successfully.<br> Redirecting to sign in with your new password shortly.</p>
            <a href="{% url 'signin' %}" class="btn-primary">Return to Login</a>
        </div>
        <script>
            setTimeout(function () {
                window.location.href = "{% url 'signin' %}";
            }, 5000);
        </script>
    </div>
{% endblock %}
