{% extends 'core/base.html' %}
{% block content %}
    <section class="map-register">
        <!-- Map Background -->
        <div class="map-background">
            <div class="map-icons">
                <div class="icon compass"></div>
                <div class="icon pin"></div>
                <div class="icon trail"></div>
            </div>
        </div>

        <!-- Password Change Success Message -->
        <div class="form-container">
            <h1>Password Changed Successfully</h1>
            <p>Your password has been updated. Keep it secure! <br> You will be redirected to the homepage shortly</p>
            <a href="{% url 'home' %}" class="btn primary">Return to Home Page</a>
        </div>

        <script>
            setTimeout(function () {
                window.location.href = "{% url 'home' %}";
            }, 5000);
        </script>
    </section>
{% endblock %}
