<!-- templates/registration/password_reset_done.html -->
{% extends 'core/base.html' %}

{% block content %}
    <div class="reset-password-page">
        <div class="reset-password-card">
            <h2>Password Reset Link Sent</h2>
            <p>A password reset link has been sent to your email. Check your inbox.<br> Redirecting to the homepage shortly.</p>
            <a href="{% url 'home' %}" class="btn-primary">Return to Home Page</a>
        </div>
        <script>
            setTimeout(function () {
                window.location.href = "{% url 'home' %}";
            }, 5000);
        </script>
    </div>
{% endblock %}
